<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is login Servlet</display-name>
		<servlet-name>LoginHandle</servlet-name>
		<servlet-class>com.practice.servlet.LoginHandle</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is signup Servlet</display-name>
		<servlet-name>SignUpHandle</servlet-name>
		<servlet-class>com.practice.servlet.SignUpHandle</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LoginHandle</servlet-name>
		<url-pattern>/com/practice/servlet/LoginHandle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpHandle</servlet-name>
		<url-pattern>/com/practice/servlet/SignUpHandle</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
	    <description>DB Connection</description>
	    <res-ref-name>jdbc/webdb</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
	    <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
